# 입출력문제
2739, 1924, 8393, 10818, 2438, 2439, 2440, 2441, 2442, 2445, 2522, 2446, 10991, 10992

### 2739
문제\
N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.

입력\
첫째 줄에 N이 주어진다. N은 1보다 크거나 같고, 9보다 작거나 같다.

출력\
출력형식과 같게 N * 1부터 N * 9까지 출력한다.

In [1]:
N=int(input())
for i in range(9):
    print('%d * %d = %d'%(N,i+1,N*(i+1)))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### 1924
문제\
오늘은 2007년 1월 1일 월요일이다. 그렇다면 2007년 x월 y일은 무슨 요일일까? 이를 알아내는 프로그램을 작성하시오.

입력\
첫째 줄에 빈 칸을 사이에 두고 x(1 ≤ x ≤ 12)와 y(1 ≤ y ≤ 31)이 주어진다. 참고로 2007년에는 1, 3, 5, 7, 8, 10, 12월은 31일까지, 4, 6, 9, 11월은 30일까지, 2월은 28일까지 있다.

출력\
첫째 줄에 x월 y일이 무슨 요일인지에 따라 SUN, MON, TUE, WED, THU, FRI, SAT중 하나를 출력한다.

In [24]:
x,y=input().split()
x=int(x)
y=int(y)
week=['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']
day=0
for i in range(1,x):
    if i==2:
        n=28
    elif i==4 or i==6 or i==9 or i==11:
        n=30
    elif i==1 or i==3 or i==5 or i==7 or i==8 or i==10 or i==12:
        n=31
    day+=n
day+=y
print(week[day%7])

12 25
TUE

### 8393
문제\
n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.

입력\
첫째 줄에 n (1 ≤ n ≤ 10,000)이 주어진다.

출력\
1부터 n까지 합을 출력한다.

In [25]:
n=int(input())
s=0
for i in range(n+1):
    s+=i
print(s)

3
6

### 10818
문제\
N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

입력\
첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다. 모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다.

출력\
첫째 줄에 주어진 정수 N개의 최솟값과 최댓값을 공백으로 구분해 출력한다.

In [2]:
N=int(input())
N_list=list(map(int, input().split()))
N_list.sort()
print(N_list[0],N_list[N-1])

5
1 2 34 5 6
1 34

### 2438 
문제\
첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

입력\
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

출력\
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [63]:
N=int(input())
for i in range(1,N+1):
    print('*'*i)

5
*
**
***
****
*****

### 2439
문제\
첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.

입력\
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

출력\
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [78]:
N=int(input())
for i in range(1,N+1):
    print(' '*(N-i)+'*'*i)

5
    *
   **
  ***
 ****
*****

### 2440
문제\
첫째 줄에는 별 N개, 둘째 줄에는 별 N-1개, ..., N번째 줄에는 별 1개를 찍는 문제

입력\
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

출력\
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [79]:
N=int(input())
for i in range(1,N+1):
    print('*'*(N-i+1))

5
*****
****
***
**
*

### 2441
문제\
첫째 줄에는 별 N개, 둘째 줄에는 별 N-1개, ..., N번째 줄에는 별 1개를 찍는 문제

하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.

입력\
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

출력\
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [83]:
N=int(input())
for i in range(N):
    print(' '*i+'*'*(N-i))

5
*****
 ****
  ***
   **
    *

### 2442
문제\
첫째 줄에는 별 1개, 둘째 줄에는 별 3개, ..., N번째 줄에는 별 2×N-1개를 찍는 문제

별은 가운데를 기준으로 대칭이어야 한다.

입력\
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

출력\
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [93]:
N=int(input())
for i in range(N):
    print(' '*(N-i-1)+'*'*(2*i+1))

5
    *
   ***
  *****
 *******
*********

### 2445
문제\
예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.

입력\
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

출력\
첫째 줄부터 2×N-1번째 줄까지 차례대로 별을 출력한다.

In [6]:
N=int(input())
for i in range(1,N+1):
    print('*'*i+' '*(2*N-2*i)+'*'*i)
for i in range(N-1,0,-1):
    print('*'*i+' '*(2*N-2*i)+'*'*i)

5
*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

### 2522
문제\
예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.

입력\
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

출력\
첫째 줄부터 2×N-1번째 줄까지 차례대로 별을 출력한다.

In [8]:
N=int(input())
for i in range(1,N+1):
    print(' '*(N-i)+'*'*i)
for i in range(N-1,0,-1):
    print(' '*(N-i)+'*'*i)

3
  *
 **
***
 **
  *

### 2446
문제\
예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.

입력\
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

출력\
첫째 줄부터 2×N-1번째 줄까지 차례대로 별을 출력한다.

In [16]:
N=int(input())
for i in range(N):
    print(' '*i+'*'*(2*N-2*i-1))
for i in range(N-2,-1,-1):
    print(' '*i+'*'*(2*N-2*i-1))

5
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

### 10991
문제\
예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.

입력\
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

출력\
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [20]:
N=int(input())
for i in range(1,N+1):
    print(' '*(N-i)+'* '*(i-1)+'*')

5
    *
   * *
  * * *
 * * * *
* * * * *

### 10992
문제\
예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.

입력\
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

출력\
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [68]:
N=int(input())
for i in range(1,N+1):
    if i==1:
        print(' '*(N-1)+'*')        
    elif i==N:
        print('*'*(2*N-1))
    else:
        print(' '*(N-i)+'*'+' '*(2*i-3)+'*')

4
   *
  * *
 *   *
*******